<ul class="list-group">
<%= form_for @todo_list do |f| %>
  <li class="list-group-item" id="todo-list">
    <div class="page-title">
      Edit Todo List
    </div>
    <div class="new-todo-list-title">
        Title
      <div>
        <%= f.text_field :title, id: "new-todo-list-text" %>
      </div>
    </div>
    <div class="new-todo-list-description">
      <div>
      Description
      </div>
      <div>
      <%= f.text_area :description %>
      </div>
    </div>
  </li>
  <li class="list-group-item" id="create-todo-list">
    <%= f.submit "Update", id: "new-todo-list-btn" %>
  </li>
<% end %>
</ul>
<div id="edit-todo-bottom-nav">
  <%= link_to 'Back', todo_list_path(@todo_list) %>
  |
  <%= link_to 'Home', root_path %>
</div>
