<ul class="list-group">
  <li class="list-group-item" id="todo-lists">
    <div class="page-title-detail"><%= @todo_list.title %></div>
    <div class="todo-list-description-detail"><%= @todo_list.description %></div>
    <%= form_for ([@todo_list, @todo_list.todo_items.build]) do |f| %>
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" id="new-todo-input-bg">
        <%= f.text_field :content, placeholder: "New Todo", autofocus: "true", id: "todo-item-detail" %>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3" id="new-todo-button-bg">
        <%= f.submit 'Add', id: "todo-item-submit-detail" %>
        </div>
      </div>
    <% end %>
  </li>
  <% if @todo_list.todo_items.count > 0 %>
    <%= render @todo_list.todo_items %>
  <% else %>
  <li class="list-group-item" id="todo-lists">
    No todos have been added.
  </li>
  <% end %>

  <li class="list-group-item" id="todo-bottom-nav">
    <%= link_to 'Back', root_path %>
    |
    <%= link_to 'Edit', edit_todo_list_path(@todo_list) %>
    |
    <%= link_to 'Delete', todo_list_path(@todo_list), method: :delete, data: { confirm: "Are you sure?" } %>
  </li>
</ul>
