<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  </head>

  <meta name="viewport" content="height=device-height, initial-scale=1.0">

  <body>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="todo-main">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>"><%= msg %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
